* {
    margin: 0;
    padding : 0;
    transition: 0.5s all;
    box-sizing: border-box;
    text-decoration: none;
    font-family : 'Poppins' , sans-serif ;
}

body {
    background: #fff ;
    color: #147aff ;
    display: flex;
    overflow: hidden;
}

button
{
    cursor: pointer;
}

.sidebar
{
    width: 250px;
    background: #000c66;
    border-radius: 0 30px 30px 0;
    padding: 30px;
}

#mobile-menu
{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 0;
}

#mobile-menu:checked + .sidebar
{
    transform: translate(280px);
    z-index: 1;
}

#mobile-menu:checked + .sidebar + #mmenu
{
    transform: translate(50px);
    color: aliceblue;
}

#mobile-menu:checked + .sidebar + #mmenu i:first-child
{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: -50px;
}

#mobile-menu:checked + .sidebar + #mmenu i:last-child
{
    position: absolute;
    visibility: visible;
    opacity: 1;
    top: unset;
}

#menu i:last-child
{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -50%;
}

#mmenu 
{
    padding: 15px;
    opacity: 0;
    position: absolute;
    font-size: 22px;
}

.sidebar .logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(4, 13, 65);
}

.sidebar .logo i,
.sidebar .logo h2
{
    font-size: 24px;
    padding: 4px;
}

.sidebar .menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0;
}

.sidebar .menu ul li
{
    padding: 13px 15px;
    padding-right: 30px;
    letter-spacing: 0.05px;
    margin: 15px 0;
    color: #1418ff;
    font-size: 15px;
    cursor: pointer;
}

.sidebar .menu ul li .active,
.sidebar .menu ul li:hover:not(:last-child)
{
    padding: 14px;
    background-color: #144bff;
    border-radius: 10px;
    color:  rgb(4, 13, 65);
}

.sidebar .menu ul li a 
{
    color:  rgb(4, 13, 65);
}


.sidebar .menu ul li:last-child
{
    position: absolute;
    bottom: 1;
}

.sidebar .menu ul li i
{
    margin-right: 25px;
}


/* content */

.content
{
    flex: 1;
    padding: 35px 45px;
    overflow: auto;
    height: 600px;
}

.content .top
{
    display: flex;
    justify-content: space-between;
}

.content .top .search
{
    position: relative;
}

.content .top .search input
{
    background: rgb(163, 230, 224);
    padding: 10px 150px;
    border-radius: 6px;
    font-weight: 600;
    padding-left: 15px;
    color: rgb(4, 13, 65);
}

.content .top .search i
{
    position: absolute;
    right: 10px;
    top: 25%;
    color: #144bff;
    cursor: pointer;
}

.content .top .user i
{
    padding: 0 10px;
    color: #144bff;
    font-size: 20px;
    cursor: pointer;
}

.content .categories
{
    width: 100% ;
    display: flex;
    text-align: center;
}


.content #heading
{
    padding-top: 20px;
    color: #144bff;
}

.content .categories .category:hover
{
    color: #5802AE;
    box-shadow: 0 0 20px #5802AE;
}

.content .categories .category
{
    width: 30%;
    height: auto;
    color: aliceblue;
    background: #6291e7;
    margin-right: 20px;
    border-radius: 100px;
    padding: 14px;
}

.content .categories .category img
{
    padding: 5px 15px;
    float:inherit;
    padding-bottom: 0;
    opacity: 0.6;
}

.content .all-products
{
    width: 100%;
}

.content .all-products .title
{
    padding: 15px 0;
    color: #144bff;
}

.content .products
{
    width: 100%;
    display: flex;
}

.content .product
{
    width: 60%;
    height: 250px;
    position: relative;
    margin: 5px 5px;
    padding: 15px;
    background: #a462e7;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.content .product:hover::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #862fdd;
    border-radius: 10px;
}

.content .product:hover .addbutton
{
    visibility: visible;
    opacity: 1;
    bottom: 30%;
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    left: 50%;
}

.addbutton
{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s;
}

.addbutton button
{
    padding: 5px 25px;
    color: #5802AE;
    border-radius: 5px;
    background: #1482ff;
}

.content .product img
{
    padding: 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content.product i
{
    float: right;
    color: #144bff;
}

.content .product .subtitle
{
    display: flex;
    justify-content: space-between;
}

.content ,.product .price h1
{
    font-size: 20px;
}

.Emp-Table table{
    background-image: linear-gradient(145deg, #000c66, #2482da,#000c66, rgb(145, 217, 241));
    color: aliceblue;
}

.heading a
{
    display: inline-block;
    padding: 12px 28px ;
    background: #000c66 ; 
    border-radius: 40px;
    border-color: rgb(4, 13, 65) ;
    box-shadow: 0 0 10px rgb(4, 13, 65);
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 800px;
    margin-bottom: 10px;
}

/* Responsive */

/*Desktop*/
/* @media (min-width: 1024px)
{
    .sidebar
    {
        margin-left: -295px;
    }

    .content
    {
        width: 100%;
        margin: 5px;
    }

    .sidebar + #mmenu
    {
        transform: translate(50px);
    }

    .content .top
    {
        flex-direction: column;
    }

    .content .search
    {
        padding-bottom: 25px;
    }

    #mmenu
    {
        opacity: 1;
        visibility: visible;
        z-index: 2;
        color: #FF1493;
        position: relative;
    }

    .content .products
    {
        display: block;
    }

    .content .product
    {
        width: 100%;
    }

    .content .top .search input
    {
        padding: 10px 45px;
    }

    .content .top .search i
    {
        top: 16%;
    }

    .content .categories 
    {
        display: block;
    }

    .content .categories .category
    {
        width: 100%;
        margin-top: 5px;
    }

    .content .categories .category img
    {
        display: none;
    }

    .user 
    {
        display: flex;
    }
} */

/*Phone*/
@media (max-width: 768px)
{
    .content .top .search i
    {
        right: 140px;
        top: 25%;
    }

    .sidebar
    {
        margin-left: -50px;
    }

    .content
    {
        width: 100%;
        margin: 5px;
    }

    .sidebar + #mmenu
    {
        transform: translate(50px);
    }

    .content .top
    {
        flex-direction: column;
    }

    .content .search
    {
        padding-bottom: 25px;
    }

    #mmenu
    {
        opacity: 1;
        visibility: visible;
        z-index: 2;
        color: #144bff;
        position: relative;
    }

    .content .products
    {
        display: block;
    }

    .content .product
    {
        width: 100%;
    }

    .content .top .search input
    {
        padding: 10px 45px;
    }

    .content .top .search i
    {
        top: 16%;
    }

    .content .categories 
    {
        display: block;
    }

    .content .categories .category
    {
        width: 100%;
        margin-top: 5px;
    }

    .content .categories .category img
    {
        display: none;
    }

    .user 
    {
        display: flex;
    }
}

/*TABLETS*/
@media ((min-width:767px) and (max-width: 1023px))
{
    .sidebar
    {
        margin-left: -295px;
    }

    .content
    {
        width: 100%;
        margin: 5px;
    }

    .sidebar + #mmenu
    {
        transform: translate(50px);
    }

    .content .top
    {
        flex-direction: column;
    }

    .content .search
    {
        padding-bottom: 25px;
    }

    #mmenu
    {
        opacity: 1;
        visibility: visible;
        z-index: 2;
        color: #144bff;
        position: relative;
    }

    .content .products
    {
        display: block;
    }

    .content .product
    {
        width: 100%;
    }

    .content .top .search input
    {
        padding: 10px 45px;
    }

    .content .top .search i
    {
        top: 16%;
    }

    .content .categories 
    {
        display: block;
    }

    .content .categories .category
    {
        width: 100%;
        margin-top: 5px;
    }

    .content .categories .category img
    {
        display: none;
    }

    .user 
    {
        display: flex;
    }
}